API_DB_PASSWORD=Qwerty1234
API_DATABASE_CONNECTION_STRING=Host=memento.api.database;Port=5432;Database=cards;Username=postgres;Password=Qwerty1234;TrustServerCertificate=True
AUTH_DB_PASSWORD=Qwerty1234
AUTH_DATABASE_CONNECTION_STRING=Host=memento.auth.database;Port=5432;Database=identity;Username=postgres;Password=Qwerty1234;TrustServerCertificate=True
JWT_SIGNING_KEY=a-string-secret-at-least-256-bits-long
JWT_ISSUER=http://localhost:5091
JWT_AUDIENCE=http://localhost:5295
ENVIRONMENT=Development